* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
}

header {
	text-align: center; 
	color: white;
	font-family: 'Noto Sans', sans-serif;
	font-size: 25px;
	margin-top: 20px;
	padding-top: 10px;
}

.content-box {
	width: 100%;
	margin-top: 140px;
	text-align: center;
	color: white;
	font-family: 'Noto Sans', sans-serif;
	font-size: 50px;
}

button {
	display: block;
	width: 15%;
	height: 50px;
	color: white;
	background-color: black;
	font-size: 20px;
	font-family: 'Noto Sans', sans-serif;
	padding: 5px 5px 5px 5px;
	border: 1px solid white;
	margin-top: 150px;
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
}

button:hover {
	background-color: white;
	color: black;
}

@media screen and (max-width: 800px) {
	body {
		display: flex;
		flex-direction: column;
		flex: 1 1;
		justify-content: space-between;
	}

	.content-box {
		font-size: 50px;
		margin-top: 100px;
	}
  }

@media screen and (max-width: 430px) {
	body {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-shrink: 1 1;
	}

	header {
		font-size: 15px;
		margin-top: 0;
	}

	.content-box {
		font-size: 30px;
		margin-top: 50px;
	}

	button {
        width: auto;
		height: 30px;
		font-size: 15px;
		margin-top: 100px;
	}
  } 
}